<div class="jumbotron">
  <div class="row">
    <div class="large-12 hide-for-small">
      <div id="featured" style="text-align: center;">
        <h1><i class="fa fa-leaf"></i></h1>
        <h2>
          For Open and Interactive Learning
        </h2>
        <br/>
        <h3>Free &nbsp;|&nbsp; Open &nbsp;|&nbsp; Simple &nbsp;|&nbsp; Powerful</h3>
      </div>
      <br/>
      <ul class="inline-list centered-list">
        <li>
          <a href="https://github.com/aalgahmi/duroosi"class="button secondary radius">
            <i class="fa fa-github"></i> View on Github
          </a>
        </li>
        <li>
          <a href="https://github.com/aalgahmi/duroosi/zipball/master" class="button secondary radius">
            <i class="fa fa-download"></i> Download Zip file
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br /><br />