---
layout: default
---

<div class="jumbotron secondary">
  <div class="row">
    <div class="large-12 hide-for-small">
      <div id="featured" style="text-align: center;">
        {% assign parts = page.url | split: '/' %}
        {% if parts[1] == 'docs' %}
        <h1><i class="fa fa-cogs"></i></h1>
        {% else %}
        <h1><i class="fa fa-book"></i></h1>
        {% endif %}
        <h2>
          {{ page.title }}
        </h2>
      </div>
    </div>
  </div>
</div>
<br/><br/>

<div class="row" data-equalizer>
  <div class="large-3 columns" data-equalizer-watch>
    {% include aside.html %}
  </div>

  <div class="large-9 columns" role="content" data-equalizer-watch>
    {{ content }}
  </div>
</div>
 